.footer{
    display: flexbox;
	background-color: #000;
	color: white;
    max-width: 100%;
    padding-top: 10px;
    margin-top: 10%;
    
}
.first-sectoion{
    margin-left: 250px;
    
}

i {
    padding: 5px;
    background-color: #fafafa;
}
.footer-links{
     display: grid;
    grid-template-columns: 1.3fr repeat(1, 1fr) 1fr;
    padding-left: 30px;
    gap: 1.3rem;
}
li i{
    background-color: black;
}
.about{
    
    /* padding: 30px; */
    font-size: large;
}
/* .subscribe{
    margin-left: 20px;
    display: flex;
} */


.ending{
    background-color: black;
    color: #fafafa;
    text-align: center;
}
